.coolm-button-group {

  text-align: right;
  line-height: 50px;

  .coolm-button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    color: black;
    background: #cacaca;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin-left: 10px;
    outline: none;

    &:first-child {
      margin-left: -10px;
    }
  }

  .coolm-button-success {
    background: #2ecc71;
    color: white;
  }

  .coolm-button-warning {
    background: #f1c40f;
    color: black;
  }

  .coolm-button-danger {
    background: #e74c3c;
    color: white;
  }

  .coolm-button-info {
    background: #3498db;
    color: white;
  }
}